*.pyc
*.pyo
*.class
*~
*.DS_Store
wine-py2exe/
py2exe.log
*.kate-swp
ex-dl
ex-dl.exe
ex-dl.tar.gz
ex-dl.zip
.coverage
cover/
updates_key.pem
*.egg-info
*.srt
*.ttml
*.sbv
*.vtt
*.flv
*.mp4
*.m4a
*.m4v
*.mp3
*.3gp
*.wav
*.ape
*.mkv
*.swf
*.part
*.ytdl
*.swp
test/local_parameters.json
.tox
ex-dl.zsh

# IntelliJ related files
.idea
*.iml

tmp/
venv/

# VS Code related files
.vscode
